#products{
    padding:80px 0;
}

.card{
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}
.card-body{
    text-align:center;
}
.card h6{
    color:#0d6efd;
    font-weight:bold;
    font-size:20px;
}
#testimonials{
    padding:80px 0;
    background-color:#f8f9fa;
}

#testimonials .card{
    border:none;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    transition:0.3s;
}

#testimonials .card:hover{
    transform:translateY(-5px);
}

#testimonials .card-body{
    padding:30px;
}
#products .card-img-top{
    height:450px;
    object-fit:cover;
}
#categories .card-img-top{
    height:250px;
    object-fit:cover;
}
footer .col-lg-4{
    margin-bottom:20px;
}
footer a:hover{
      color:#0d6efd !important;
}
#contact{
    padding:80px 0;
}
.form-control{
    border-radius:8px;
}
.btn{
    transition:0.3s;
}

.btn:hover{
    transform:scale(1.05);
}
footer ul li {
    margin-bottom: 8px;
}

footer h5 {
    margin-bottom: 15px;
}
html{
    scroll-behavior: smooth;
}